<div class="code">
  <ng-container [ngSwitch]="dataStructure">
    <ng-container *ngSwitchCase="'stack'" [ngTemplateOutlet]="stackCodeTemplate"></ng-container>
  </ng-container>
  <div class="code-actions {{theme}}">
    <div class="theme-toggle-button" (click)="toggleTheme()">
      <img src="../../assets/icons/bulb-{{theme === 'light' ? 'off' : 'on'}}.png" alt="">
    </div>
    <div class="copy-button" (click)="copyCode()">
      <img src="../../assets/icons/copy-{{theme === 'light' ? 'light' : 'dark'}}.png" alt="">
    </div>
  </div>
</div>


<!-- CHANGING INDENTATION, HERE WILL LEAD TO UGLIFIED CODE DISPLAY -->
<ng-template #stackCodeTemplate>
  <pre spellcheck="false" class="main-space {{theme}}" #preElement>
<span class="keyword">class</span> <span class="class-name">Stack</span> <span class="brace" [innerText]="'{'"></span>

<span class="indent-1 method">constructor</span><span class="parentheses">()</span> <span class="brace" [innerText]="'{'"></span>
<span class="indent-2 keyword">this</span><span class="operator">.</span><span class="field">storage</span> <span class="operator">=</span> <span class="bracket" [innerText]="'[]'"></span><span class="operator">;</span>
<span class="indent-1 brace" [innerText]="'}'"></span>

<span class="indent-1 comment">// Takes item ( string | number ) as input, and stores it at Ist index of array ( or top of Stack ).</span>
<span class="indent-1 method">push</span> <span class="operator">=</span> <span class="parentheses">(</span><span class="params">item</span><span class="parentheses">)</span> <span class="operator">=></span> <span class="keyword">this</span><span class="operator">.</span><span class="field">storage</span><span class="operator">.</span><span class="method">unshift</span><span class="parentheses">(</span><span class="params">item</span><span class="parentheses">)</span><span class="operator">;</span>

<span class="indent-1 comment">// Remove the first element from array ( or topmost item of Stack ) and return it.</span>
<span class="indent-1 method">pop</span> <span class="operator">=</span> <span class="parentheses">()</span> <span class="operator">=></span> <span class="keyword">this</span><span class="operator">.</span><span class="field">storage</span><span class="operator">.</span><span class="method">shift</span><span class="parentheses">()</span><span class="operator">;</span>

<span class="indent-1 comment">// Return the first element from array ( or topmost item of Stack ).</span>
<span class="indent-1 method">peek</span> <span class="operator">=</span> <span class="parentheses">()</span> <span class="operator">=></span> <span class="keyword">this</span><span class="operator">.</span><span class="field">storage</span><span class="bracket">[</span><span class="static">0</span><span class="bracket">]</span><span class="operator">;</span>

<span class="indent-1 comment">// Checks if array ( or Stack ) is having underflow condition or not.</span>
<span class="indent-1 method">isEmpty</span> <span class="operator">=</span> <span class="parentheses">()</span> <span class="operator">=> !</span><span class="keyword">this</span><span class="operator">.</span><span class="field">storage</span><span class="operator">.</span><span class="field">length</span><span class="operator">;</span>

<span class="indent-1 comment">// Display the content of array ( or Stack ).</span>
<span class="indent-1 method">display</span> <span class="operator">=</span> <span class="parentheses">()</span> <span class="operator">=></span> <span class="static">console</span><span class="operator">.</span><span class="method">log</span><span class="parentheses">(</span><span class="keyword">this</span><span class="operator">.</span><span class="method">isEmpty</span><span class="parentheses">()</span><span class="operator"> ? </span><span class="text">'STACK IS EMPTY'</span><span class="operator"> : </span><span class="text">'(Top) '</span><span class="operator"> + </span><span class="keyword">this</span><span class="operator">.</span><span class="field">storage</span><span class="operator">.</span><span class="method">join</span><span class="parentheses">(</span><span class="text">' ⟵ '</span><span class="parentheses">)</span><span class="operator"> + </span><span class="text">' (Bottom)'</span><span class="parentheses">)</span><span class="operator">;</span>

<span class="brace" [innerText]="'}'"></span>
</pre>
</ng-template>
