@import "../../assets/styles/flex";

$codeIndentSpace: 30px;

.code {
  position: relative;

  & .main-space {
    overflow: overlay;
    padding: 1rem;
    transition: all 1s;

    & .indent {
      &-1 { margin-left: $codeIndentSpace; }
      &-2 { margin-left: calc(2 * #{$codeIndentSpace}); }
      &-3 { margin-left: calc(3 * #{$codeIndentSpace}); }
      &-4 { margin-left: calc(4 * #{$codeIndentSpace}); }
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track { background: transparent; }

    &::-webkit-scrollbar-thumb { background: #a8b0b9; }

    // FOR DARK THEME
    &.dark {
      border: 3px solid silver;
      background-color: #282a36;

      & .keyword { color: #FF79C6; }
      & .class-name { color: #8BE9FD; }
      & .brace { color: #737FFF; }
      & .parentheses { color: #FFF906; }
      & .bracket { color: #36FFAC; }
      & .method { color: #50FA7B; }
      & .field { color: #FFB86C; }
      & .params { color: #B9BCD1; font-style: italic; }
      & .static { color: #BD93F9; }
      & .text { color: #F1FA8C; }
      & .operator { color: #ffffff; }
      & .comment { color: #98AFFF; }
    }

    // FOR LIGHT THEME
    &.light {
      border: 3px solid #dedede;
      background-color: #ffffff;

      & .keyword { color: #A71D5D; }
      & .class-name { color: #333333; }
      & .brace,
      & .parentheses,
      & .bracket { color: #63A35C; }
      & .method { color: #795DA3; }
      & .field,
      & .params,
      & .static { color: #0086B3; }
      & .params { font-style: italic; }
      & .text { color: #183691; }
      & .operator { color: #A71D5D; }
      & .comment { color: #969896; }
    }
  }

  &-actions {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    @extend .row-start-center;

    & .button {
      width: 2rem;
      height: 2rem;
      background: white;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;

      &:active {
        transform: scale(.96);
      }
    }

    & .theme-toggle-button {
      margin-right: 10px;
      @extend .button ,.row-center-center;

      & img { height: 1.5rem; width: 1.5rem; -webkit-tap-highlight-color: transparent; }
    }

    & .copy-button {
      @extend .button ,.row-center-center;

      & img { height: 1.15rem; width: 1.15rem; -webkit-tap-highlight-color: transparent; }
    }

    &.light {
      & .copy-button,
      & .theme-toggle-button {
        background-color: #a8b0b9;
      }
    }
  }
}
