@import "../../assets/styles/mixins/entityOperation.mixin";
@import "../../assets/styles/mixins/stack.mixin";
@import "../../assets/styles/variables";

.ds-stack-container {
  padding: 1.5rem;
  position: relative;

  &__body {
    margin-top: 2rem;
    width: 100%;
    padding: .5rem 1rem 0 1rem;

    & .section-title { font-size: 2.2rem; }

    & .operation {
      @include operation(1.7rem, #3498fc, 1.2rem, #8B96A0, .7rem, .188rem dashed #c3c3c3, "↬");
    }

    & .column-start-start {
      width: calc((100% - 2rem) / 2);
    }

    & .stack-actions {
      margin-top: 3rem;

      .push { margin-right: 1.5rem; }
    }

    & .work-space {
      margin-top: 3rem;
      padding-bottom: 2rem;

      .stack {
        @include stack(40rem, 6rem, 30rem, 5rem, .5rem, 400ms, 'Underflow !', 2rem)
      }
    }
  }

  & .visual-mode-switch {
    position: absolute;
    top: 1.5rem;
    right: 1.25rem;
  }
}

@media screen and (min-width: $mobileBreakPoint) and (max-width: $tabletBreakPoint) {
  .ds-stack-container {
    padding: 1.25rem;

    &__body {
      margin-top: 1.5rem;

      & .section-title { font-size: 2rem; }

      & .operation {
        @include operation(1.5rem, #3498fc, 1rem, #8B96A0, .6rem, .15rem dashed #c3c3c3, "↬");
      }

      & .column-start-start {
        width: 38%;

        &:nth-of-type(2) {
          width: 52%;
        }
      }

      & .stack-actions {
        margin-top: 2rem;

        .push { margin-right: 1rem; }
      }

      & .work-space {
        margin-top: 2rem;

        .stack {
          @include stack(30rem, 6rem, 30rem, 5rem, .5rem, 400ms, 'Underflow !', 1.5rem)
        }
      }
    }
  }
}

@media screen and (max-width: $mobileBreakPoint) {
  .ds-stack-container {
    padding: 1rem;

    &__body {
      margin-top: 1rem;
      grid-row-gap: 1.5rem;

      & .section-title { font-size: 1.8rem; }

      & .operation {
        @include operation(1.4rem, #3498fc, .9rem, #8B96A0, .4rem, .125rem dashed #c3c3c3, "↬");
      }

      & .column-start-start {
        width: 100% !important;
      }

      & .stack-actions {
        margin-top: 1rem;

        .push { margin-right: .5rem; }
      }

      & .work-space {

        .stack {
          @include stack(20rem, 4rem, 25rem, 3rem, .3rem, 400ms, 'Underflow !', 1.5rem)
        }
      }
    }
  }
}
