<div class="ds-stack-container w-full h-full column-start-start">
  <div class="ds-stack-container__header">
    <div class="title is-size-1 is-capitalized has-text-weight-bold is-unselectable">Stack</div>
    <div class="subtitle is-4 is-italic has-text-weight-medium" dsRandomColor>
      Stack is a linear data structure that operates on LIFO ( <strong class="has-text-weight-semibold">Last-In-First-Out</strong> ) principle.
      <br>
      In this, there is only one single end from where new data can be inserted and old data can be removed.
    </div>
  </div>

  <div class="ds-stack-container__body row-between-start wrap grow-1 w-full">

    <ng-container *ngIf="!isVisualMode">
      <div class="column-start-start">
        <div class="section-title has-text-weight-bold is-unselectable underline mb-3">Basic Operations:- </div>
        <div class="pl-1">
          <div class="operation" *ngFor="let operation of entityOperationsService.getStackOperations()">
            <div class="operation__title">{{operation.title}}</div>
            <div class="operation__description">{{operation.description}}</div>
          </div>
        </div>
      </div>
      <div class="column-start-start">
        <div class="section-title has-text-weight-bold is-unselectable underline mb-5">Stack Implementation Using Array :- </div>
        <ds-code dataStructure="stack" theme="light"></ds-code>
      </div>
    </ng-container>

    <ng-container *ngIf="isVisualMode">
      <div class="column-center-start w-full h-full">
        <div class="section-title has-text-weight-bold is-unselectable underline mb-3">Visual Mode :-</div>
        <div class="stack-actions w-full row-center-center">
          <div class="field has-addons mb-0 push">
            <div class="control"><input class="input" type="text" placeholder="Please enter value" [formControl]="pushControl" (keypress)="enterPress($event)"></div>
            <div class="control"><button class="button is-info" (click)="push()">Push</button></div>
          </div>
          <button class="button is-danger" (click)="pop()">Pop</button>
        </div>
        <div class="work-space w-full row-center-end grow-1">
          <div class="stack column-start-center" [ngClass]="animateClass" *ngIf="!!stack?.storage">
            <div *ngFor="let item of stack.storage" class="item row-center-center" [ngStyle]="{'background': stackColor}">
              <p class="has-text-weight-semibold" [ngStyle]="{'color': stackTextColor}">{{item}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ds-switch class="visual-mode-switch" (onSwitchToggle)="isVisualMode = $event"></ds-switch>
</div>
