@mixin operation($titleSize, $titleColor, $descriptionSize, $descriptionColor, $verticalPadding, $bottomBorder, $bulletIcon) {
  width: fit-content;
  border-bottom: $bottomBorder;
  position: relative;
  padding: {
    top: $verticalPadding;
    right: 0;
    bottom: $verticalPadding;
    left: calc(1.75 * #{$titleSize});
  };

  &__title {
    color: $titleColor;
    font: {
      size: $titleSize;
      weight: 600;
    };
  }

  &__description {
    color: $descriptionColor;
    margin-top: -.5rem;
    font: {
      size: $descriptionSize;
      style: italic;
      weight: 500;
    };
  }

  &:before {
    content: $bulletIcon;
    color: dimgrey;
    font: {
      size: calc( 5/4 * #{$titleSize});
      weight: bold;
    };
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
