@mixin flex($flexDirection: row, $justifyContent: flex-start, $alignItems: flex-start, $flexWrap: null) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;

  @if ($flexWrap != null) {
    flex-wrap: $flexWrap;
  }
}
