@mixin stack($stackWidth, $stackMinHeight, $stackMaxHeight, $itemHeight, $borderWidth, $animateTime, $underflowMessage, $fontSize) {

  width: $stackWidth;
  min-height: $stackMinHeight;
  max-height: $stackMaxHeight;

  background-color: transparent;
  padding: 0 .75rem .75rem .75rem;
  grid-row-gap: .75rem;
  position: relative;
  overflow: auto;
  border: {
    style: solid;
    color: #7E8AA2;
    width: 0 $borderWidth $borderWidth $borderWidth;
    radius: $borderWidth $borderWidth calc(2 * #{$borderWidth}) calc(2 * #{$borderWidth});
  };

  // HIDES SCROLLBAR
  &::-webkit-scrollbar { display: none; }

  // SHOWS UNDERFLOW MESSAGE WHEN STACK IS EMPTY
  &:empty {
    &:before {
      content: $underflowMessage;
      color: #131340;
      font-size: $fontSize;
      font-weight: 600;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // ANIMATION EFFECT WHEN ELEMENT IS INSERTED & REMOVED FROM STACK
  &.animate-stack {
    &-insert {
      .item:first-of-type {
        animation: $animateTime linear slideTop;
      }
    }

    &-remove {
      .item:first-of-type {
        animation: $animateTime linear fadeOut;
      }
    }
  }

  // STYLING OF ELEMENT INSIDE STACK GOES HERE.
  & .item {
    width: 100%;
    height: $itemHeight;
    min-height: $itemHeight;
    border-radius: 15px;
    overflow: hidden;

    & p {
      font-size: $fontSize;
      max-width: 95%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 3.25rem;
      margin: 0;
    }
  }

  @keyframes slideTop {
    0% {
      opacity:0;
      transform:translateY(-100%)
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut{
    0% { opacity: 1 }
    100% { opacity:0 }
  }
}
