@import "../../assets/styles/variables";

$switchSize: 55px;

.switch {
  height: $switchSize;
  width: $switchSize;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: linear-gradient(#787880, #45454c);
  border-radius: calc(#{$switchSize} * 0.34);
  border: 1px solid #464649;
  box-shadow: inset 0 0 0 1px #464649,
  inset 0 calc(#{$switchSize} * 0.05) 4px #a6a6ab, inset 0 -4px 4px #36363b,
  0 5px 5px #1d1d20, 0 8px 20px rgba(#1d121a, 0.5);
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    transition: 0.125s ease-in-out;
  }

  &::before {
    width: calc(#{$switchSize} * 0.34);
    height: calc(#{$switchSize} * 0.51);
    background-color: #5e5e66;
    border-radius: calc(#{$switchSize} * 0.34 * 0.3);
    box-shadow: inset 0 1px 7px #56545c;
  }

  &::after {
    width: calc(#{$switchSize} * 0.34 * 0.73);
    height: calc(#{$switchSize} * 0.51 * 0.79);
    background: linear-gradient(#a8a8a8 0%, #909090 50%, #6e6e6e 90%);
    border-radius: calc(#{$switchSize} * 0.34 * 0.73 * 0.3);
    box-shadow: inset 0 0 0 1px #858585, inset 0 -6px 0 0 #939393,
    inset 0 4px 4px #b0b0b0, inset 0 2px 0 #858585,
    0 7px 4px rgba(#2b2536, 0.37);
  }

  &.checked {

    &::before {
      box-shadow: inset 0 1px 7px #56545c,
      inset 0 -3px 2px 1px rgba(#f85026, 0.3);
    }

    &::after {
      background: linear-gradient(#d24309 10%, #ff7b22 50%, #ff8e52 100%);
      border-color: #f74114;
      box-shadow: inset 0 0 0 1px #f74114, inset 0 6px 0 0 #e77d3f,
      inset 0 -5px 4px #ff9961, inset 0 -2px 0 #f74114, 0 2px 4px #643d4a,
      0 15px 8px rgba(#2b2536, 0.37);
    }

  }

}

// TAKEN FROM HERE: https://codepen.io/akwright/pen/GRqeRjX
