.title {
  color: #131340;

  &.is-size-1 {
    font-size: 4rem !important;
  }
}

.subtitle.is-4 {

  & strong {
    color: inherit !important;
    filter: brightness(.85);
  }
}

.is-inverted {
  background-color: transparent !important;
}
