@import "mixins/flex.mixin";

.flex { display: flex; }

.row-center-center {
  @include flex(row, center, center);
}

.row-start-start {
  @include flex();
}

.row-start-center {
  @include flex(row, flex-start, center);
}

.row-center-start {
  @include flex(row, center, flex-start);
}

.row-between-center {
  @include flex(row, space-between, center);
}

.row-between-start {
  @include flex(row, space-between, flex-start);
}

.row-center-end {
  @include flex(row, center, flex-end);
}

.column-center-center {
  @include flex(column, center, center);
}

.column-start-start {
  @include flex(column);
}

.column-start-center {
  @include flex(column, flex-start, center);
}

.column-center-start {
  @include flex(column, center, flex-start);
}

.wrap {
  flex-wrap: wrap;
}

.grow-1 {
  flex-grow: 1;
}
