:root {
  overflow: overlay;

  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: overlay !important;
}

.underline {
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-decoration-color: #4a4a4a;
  text-decoration-thickness: 3px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-full {
  width: 100%;
}

.min-h-full {
  min-height: 100%;
}

.h-full {
  height: 100%;
}
